/*
Create a navigation bar out of an unordered list element, and add the following interactivity.

When the user hovers over one of the links, the color of the text should change.
When the user hovers over one of the links, the background color of the element that contains the link should change.
When the user clicks on one of the links, the element that contains the link should grow in size by 5px on the left and right.
*/

body, html {
    margin: 0;
    padding: 0;
}

nav {
    margin: 0
    padding 0;
    background-color: black;
    height: 10vh;
}

nav ul {
    margin: 0;
    height: 100%;

    /* This display property allows you to center li children vertically*/
    display: table;
}

nav li {
    list-style-type: none;

    /* The below 2 properties center li vertically in the partent ul table*/
    display: table-cell;
    vertical-align: middle;

    height: 100%;

}

nav a {
    text-decoration: none;
    display: inline-block;

    color: white;
}


.home:hover {
    color: tomato;
}

.about:hover {
    background-color: goldenrod;
    color: black;
}

.contact:active {
    padding-left: 5px;
    padding-right: 5px;
}
